body {
    background-image: url("https://img.freepik.com/free-photo/indian-food-circular-frame-with-copy-space_23-2148747658.jpg?semt=ais_hybrid&w=740&q=80");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: "Georgia", serif;
}

.main-content {
    margin-left: 220px;
    padding: 2rem;
    align-items: center;
    justify-content: center;
}

.sidebar {
    width: 220px;
    background: #2e577a;
    color: white;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 1.5rem;
}

.sidebar h3 {
    font-size: 1rem;
    margin-bottom: 0.5rem;
    color: #ddd;
}
.sidebar h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #ddd;
}

.nav-item {
    font-size: 1.7rem;
    display: block;
    color: white;
    text-decoration: none;
    margin: 0.4rem 0;
    padding: 0.5rem;
    border-radius: 6px;
    transition: background 0.2s;
}

.nav-item:hover, .nav-item.active {
    background: #3e4c61;
}

.main-section {
    font-size: 1.7rem;
    flex: 2;
    max-width: 600px;
    padding: 1.5rem;
}

.card {
    background: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 1.5rem;
}

.card h3 {
    font-size: 2rem;
    margin-top: 0;
    color: #333;

}

.action-btn {
    display: inline-block;
    width: 120px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    box-sizing: border-box;
    cursor: pointer;
    border: none;
    background-color: #4682B4;
}

.action-btn.remove {
    background-color: #f87682;
}

.action-btn:hover {
    opacity: 0.9;
}

.action-btn.add {
    width: 130px;
    height: 40px;
}

.action-btn.cancel {
    background-color: lightslategray;
    width: 130px;
    height: 40px;
    font-size: 1rem;
}

