.toast {
    padding: 1rem 1.5rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    border-radius: 8px;
    font-weight: 500;
    font-size: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
    position: relative;
    width: 100%;
    max-width: calc(100% - 4rem);
    margin-left: auto;
    margin-right: auto;
}

.success-toast {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}

.error-toast {
    background-color: #f8d7da;
    color: #721c24;
    border: 2px solid #f5c6cb;
    font-weight: 600;
}

.info-toast {
    background-color: #d1ecf1;
    color: #0c5460;
    border: 1px solid #bee5eb;
}

.toast p {
    margin: 0;
    padding: 0;
}

.error-toast.top-error {
    margin-top: 0;
    margin-bottom: 1.5rem;
}

.lunches-section {
    margin-left: 0;
    margin-right: 2rem;
    width: 100%;
    box-sizing: border-box;
}

.lunches-table {
    width: 120%;
}

.lunches-container {
    margin-top: 1rem;
    width: calc(100% - 4rem);
    margin-left: 1rem;
    margin-right: 1rem;
}

.delete-form{
    display: inline;
    margin:0.02rem;
    padding: 0;
}

.action-btn.remove {
    text-align: center;
}

.card {
    background: antiquewhite;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    padding: 1rem;
    margin-bottom: 2rem;
    text-align: center;
}

.card-title {
    font-size: 2.2rem;
    font-weight: 800;
    color: #1b314b;
    margin-bottom: 1.5rem;
    text-transform: uppercase;
}.users {
     margin-left: calc(300px + 2mm);
     margin-right: 2rem;
 }

.table-wrapper {
    width: calc(100% - 2mm);
    overflow-x: auto;
}

.users-table {
    margin-top: 1rem;
    width: 100%;
    border-collapse: collapse;
    background-color: #fdf8f3;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    overflow: hidden;
}

.users-table thead {
    position: sticky;
    top: 0;
    z-index: 5;
    font-size: 1.5rem;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background: #f8f4ef;
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

label {
    display: block;
    margin-top: 1rem;
    font-weight: 600;
    color: #1b314b;
}

select, input[type=number] {
    width: 80%;
    padding: 0.7rem;
    margin-top: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 6px;
}
.error {
    color: #b91c1c;
    margin-top: 0.5rem;
    font-size: 0.9rem;
}

.action-btn {
    display: inline-block;
    width: 140px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: white;
    border-radius: 5px;
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #4682B4;
    margin-top: 1.5rem;
}

.action-btn.add {
    background-color: #4682B4;
}

.action-btn:hover {
    opacity: 0.9;
}
