<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - School Lunch Manager</title>
    <link rel="stylesheet" href="/css/home.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>

<aside class="sidebar">
    <a href="/home" class="nav-item"><h1>Menu</h1></a>

    <a href="/children" class="nav-item">My Kids</a>
    <a href="/wallet" class="nav-item">Wallet</a>

    <h1>Settings</h1>

    <a href="/home/profile" class="nav-item">Edit Profile</a>
    <a href="/home/users" class="nav-item" th:if="${parent != null and parent.role != null and parent.role.displayName == 'Admin'}">Users</a>
    <a href="/logout" class="nav-item">Logout</a>
</aside>


    <section class="main-section">
        <div class="card profile-card">
            <h3>📜 Personal Information</h3>
            <p><strong>First Name:</strong> <span th:text="${parent.getFirstName()}" id="firstName">John</span></p>
            <p><strong>Last Name:</strong> <span th:text="${parent.getLastName()}" id="lastName">Doe</span></p>
            <p><strong>Username:</strong> <span th:text="${parent.getUsername()}" id="username">johndoe</span></p>
            <p><strong>Email:</strong> <span th:text="${parent.getEmail()}" id="email">john@example.com</span></p>
            <p><strong>Balance:</strong> <span th:text="${wallet.getBalance() + ' ' + wallet.getCurrency()}">100</span></p>
            <p><strong>Role:</strong> <span th:text="${parent.role != null ? parent.role.getDisplayName() : 'N/A'}">user</span></p>
        </div>
    </section>



</body>
</html>
