<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>School Lunch Manager</title>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
<div class="page-overlay"></div>
<header class="navbar">
    <div class="navbar-left">
        <h1>👋🏻 School Lunch</h1>
        <p>Happy Parents</p>
    </div>
    <div class="navbar-right">
        <a href="/register" class="nav-btn">Register</a>
        <a href="/login" class="nav-btn">Login</a>
    </div>
</header>
<main class="main-content-index">
    <div class="box">
        <div class="card">
            <h1>Welcome back 😊</h1>
            <div class="welcome-actions">

            </div>
        </div>
    </div>
</main>
</body>
</html>